.k-sec {
    padding: 68px 0;
    .all{
        width: 1216px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.all {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
}

.sec {
    float: left;
    width: 100%;
    padding: 60px 0;
    position: relative;
}

.kgall-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 16px;
}

.kgall-top .tt-txt {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "PoppinsVN", sans-serif;
    line-height: 1.3;
}

.sec-title .tt-sub {
    display: block;
    font-weight: 400;
    color: #707070;
    line-height: 1;
}

.kgall-top .sec-title:after {
    margin-top: 2px;
    width: 120px;
}

.sec-title:after {
    content: '';
    width: 170px;
    display: block;
    background-color: #a4712a;
    height: 2px;
    margin-top: 10px;
}

.k-title {
    font-size: 24px;
    margin-bottom: 20px;
}

//btn
/*
.btn.primary-btn {
    background-color: #a4712a;
    color: white;
}
    
.btn {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    color: #a4712a;
    height: 40px;
    line-height: 20px;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
}
*/

.kgall-top .k-title {
    margin-bottom: 0;
}

.k-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.sec-title {
    color: #000;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 30px;
}

//list

.kgall-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 215px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.kgall-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

.kgall-item:nth-child(2) {
    grid-area: 3 / 1 / 4 / 2;
}

.kgall-item:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
}

.kgall-item:nth-child(4) {
    grid-area: 2 / 2 / 4 / 3;
}

.kgall-item:nth-child(5) {
    grid-area: 1 / 3 / 3 / 4;
}

.kgall-item:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
}

.kgall-item:nth-child(7) {
    grid-area: 1 / 4 / 2 / 5;
}

.kgall-item:nth-child(8) {
    grid-area: 2 / 4 / 4 / 5;
}

.kgall-item:nth-child(9) {
    grid-area: 1 / 5 / 3 / 6;
}

.kgall-item:nth-child(10) {
    grid-area: 3 / 5 / 4 / 6;
}

.kgall-item:nth-child(11) {
    grid-area: 4 / 1 / 5 / 3;
}

.kgall-item:nth-child(12) {
    grid-area: 4 / 3 / 5 / 4;
}

.kgall-item:nth-child(13) {
    grid-area: 5 / 1 / 6 / 2;
}

.kgall-item:nth-child(14) {
    grid-area: 5 / 2 / 6 / 4;
}

.kgall-item:nth-child(15) {
    grid-area: 4 / 4 / 6 / 6;
}

.kgall-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.kgall-img {
    width: 100%;
    display: flex;
    flex: 1;
    height: calc(100% - 40px);
    border-radius: 2px;
    overflow: hidden;
}

.kgall-img img {
    width: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

.kgall-desc {
    color: #000;
    transition: 0.25s ease-in-out;
    font-weight: 700;
    margin: 0.5rem 0.2rem;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}