html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "PoppinsVN", sans-serif;
    vertical-align: baseline;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fabric-mix-sec .right-info {
    position: relative;
}

.fabric-mix-sec {
    float: left;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
}

.fabric-mix-sec .right-info {
    float: right;
    padding: 10px 0;
    padding-left: 10px;
    width: calc(100% - 530px);
}


.fabric-mix-sec .suit-smr-info {
    text-align: right;
    padding: 10px 0;
    text-align: right;
    max-width: 320px;
    margin-right: 0;
    margin-left: auto;
}
.fabric-mix-sec .suit-smr-info {
    width: calc(100% - 500px);
}
.fabric-mix-sec .suit-smr-info {
    display: block;
    float: right;
}

.product-info-box {
    padding: 10px 0;
    text-align: right;
}

.product-info-box .pd-name {
    font-size: 48px;
    color: #000;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 15px;
}

.product-info-box .pd-name span {
    display: block;
    font-weight: bold;
}

.product-info-box .composition {
    font-size: 18px;
    max-width: 100%;
    text-transform: none;
}

a {
    color: #707070;
    text-decoration: none;
}

.product-info-box .price {
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
}

.checklb, .radiolb {
    cursor: pointer;
    display: inline-block;
}

.checklb input, .radiolb input {
    display: none;
}

.radiolb .ip-avata {
    border-radius: 50%;
}

.checklb .ip-avata, .radiolb .ip-avata {
    width: 20px;
    height: 20px;
    border: solid 1px #ebebeb;
    margin-right: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.checklb span, .radiolb span {
    display: inline-block;
    vertical-align: middle;
}

.radiolb+.radiolb {
    margin-left: 10px;
}

.btn.border-btn {
    border: solid 1px #a4712a;
}
.btn.primary-btn {
    background-color: #a4712a;
    color: white;
}
.btn {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    color: #a4712a;
    height: 40px;
    line-height: 20px;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
}

.suit-smr-info .toggle-hide-vest {
    height: 40px;
    border: solid 1px #a4712a;
    padding: 5px 10px;
}

//left-content

.fabric-mix-sec .left-cont {
    float: left;
    padding-right: 0px;
    width: 500px;
    position: relative;
}

.fabric-mix-sec .side-menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
}

.menu-fabric {
    width: 100%;
    height: calc(100vh - 50px);
}

.menu-fabric .left-filter {
    float: left;
    width: 60px;
    height: 100%;
    overflow: auto;
}

.filter-nenu>li.active {
    color: #a4712a;
    opacity: 1;
}
.filter-nenu>li {
    display: block;
}

.filter-nenu>li>a {
    display: block;
    text-align: center;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
}

.filter-nenu>li.active>a img {
    opacity: 1;
}
.filter-nenu>li>a img {
    opacity: .5;
    display: block;
    width: 35px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}

.menu-fabric .right-menu {
    height: 100%;
    overflow: auto;
}

.menu-fabric .right-menu {
    overflow: hidden !important;
}
.menu-fabric .right-menu {
    float: left;
    width: calc(100% - 60px);
}



// responsive

.opts-fabric {
    position: relative;
}

.opts-fabric label {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.radiolb .ip-avata {
    border-radius: 50%;
}

//box-live-search

.fabric-mix-sec .box-live-srch {
    margin-left: 5px;
    margin-bottom: 5px;
}

.box-live-srch {
    position: relative;
}

.fabric-mix-sec #live-search {
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.box-live-srch input {
    padding-left: 40px !important;
}

.box-live-srch .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.box-live-srch .icon img {
    width: 100%;
    height: 100%;
}

.menu-fabric .list-fabric {
    max-height: calc(100% - 40px);
}

.list-fabric {
    overflow-y: auto;
    height: calc(100vh - 110px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    align-content: flex-start;
    -webkit-align-content: flex-start;
}

.list-fabric>li {
    float: left;
    width: 140px;
    padding: 5px;
    display: block;
}

.fabric-thumbnail {
    display: block;
    cursor: pointer;
}

.fabric-thumbnail .img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 75%;
    background-color: #ccc;
    margin-bottom: 5px;
    overflow: hidden;
}


.mona-field {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    font-size: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 28px;
    height: 25px;
    background-image: url(https://adongsilk.com/wp-content/themes/monatheme/images/deal-tag.png);
    background-size: CONTAIN;
    background-repeat: no-repeat;
    margin: 1px 0px 0px;
    background-position: 0px 0px;
}

.fabric-thumbnail .img>img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.fabric-thumbnail .price {
    float: right;
    margin-left: 10px;
}

.fabric-thumbnail .info {
    display: block;
    color: #000;
}

.fabric-thumbnail .info .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fabric-thumbnail .info .compos {
    display: none;
}

.fabric-thumbnail .info .compos {
    font-size: 12px;
    color: #707070;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}