.menu {
    list-style: none;
    padding-left: 15px;
  }
  
  .widget_nav_menu .menu li {
    display: block;
  }
  
  .dropdown {
    position: relative;
  }
  
  .menu .menu-item a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  
  .menu .menu-item a.selected {
    color: #a4712a; /* Color for selected subcategory */
  }
  