@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.custom-lining-container {
  float: left;
  width: 100%;
  padding-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 7fr 5fr;
  width: 100%;
}

.left-cont {
  float: left;
  width: 60px;
  height: 100%;
  overflow: auto;
}

.left-filter {
  float: left;
  width: 60px;
  height: 100%;
}

.left-filter ul {
  padding: 0;
  margin: 0;
}

 li {
  list-style: none;
}

.filter-nenu li a {
  display: block;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  font-weight: bold;
}

.filter-nenu li img {
  display: block;
  width: 35px;
  margin: auto;
}

.right-menu {
  padding-right: 80px;
  height: 100%;
  overflow: hidden;
  float: left;
  width: calc(100% - 60px);
}

.list-lining {
  overflow-y: auto;
  height: calc(100vh - 110px);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

.lining-item {
  width: 50%;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  transition: border-color 0.3s ease;
}

.lining-item.selected {
  border-color: #a4712a;
}

.lining-img {
  width: 100%;
  height: auto;
}

.lining-name {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-top: 5px;
}

.right-half {
  padding-left: 20px;
}

.product-info .pd-name {
  font-size: 48px;
  color: #000;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 15px;
}

.product-info .pd-name span {
  display: block;
  font-weight: bold;
}

.product-info .composition {
  font-size: 18px;
  text-align: right;
  line-height: 1;
}

.product-info .price {
  font-size: 32px;
  font-weight: 300;
  margin-top: 10px;
  color: #a4712a;
}

.product-info .lining-img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.add-to-cart-btn {
  display: block;
  padding: 10px 20px;
  background-color: #a4712a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8b5d19;
  }
}

.next-btn .navigation-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a4712a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8b5d19;
  }
}
