$color_1: black;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_container-signin {
    display: flex;
    // margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-signin {
    margin-left: 50px;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền của form */
    padding: 20px; /* Thêm padding */
    border-radius: 10px; /* Bo tròn góc form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng cho form */
}
.image-signin {
    // height: 80%;
    // width: 60vw !important;
    margin-top: 60px;
}
.Login_Button {
    &:hover {
        color: $color_1;
    }
}
@media screen and (max-width: 600px) {
    .bg_container-signin {
        margin-top: 0;
    }
    .form-fg {
        width: 300px !important;
    }
    .textfield-signin {
        width: 300px !important;
    }
}
