* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sec-thumb {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    position: relative;
}

.sec-featbn {
    padding: 0;
}

.bn-feat-item {
    float: left;
    width: 33.333%;
    min-height: 1px;
    overflow: hidden;
    position: relative;
}

.bn-feat-item .img {
    position: relative;
    display: block;
}

#sec-thumb a {
    color: #fff !important;
    text-decoration: none;
}

.bn-feat-item .img img {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.bn-feat-item .info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    left: 0;
    color: #fff;
    width: 100%;
    padding: 15px;
}

.left-txt {
    text-align: left;
}

.center-txt {
    text-align: center;
}

.right-txt {
    text-align: right;
}

.bn-feat-item .info .sub-name {
    font-size: 18px;
}

.bn-feat-item .info .feat-name {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "PoppinsVN", sans-serif;
    line-height: 1.3;
}