*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.all {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


.step-ul>li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 300px;
    max-width: 100%;
    letter-spacing: normal;
}

.sec-step {
    background-color: #f8f8f8;
}

.sec {
    // float: left;
    width: 100%;
    padding: 60px 0;
    position: relative;
}

.sec-title {
    color: #000;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 30px;
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        font-family: "PoppinsVN", sans-serif;
        line-height: 1.3;
    }
}


.sec-title:after {
    content: '';
    width: 170px;
    display: block;
    background-color: #a4712a;
    height: 2px;
    margin-top: 10px;
}

.step-box {
    .img{
    margin-bottom: 15px;
    }
    .info .title {
        color: #000;
        font-size: 18px;
        margin-bottom: 2px;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.btn {
    border: none;
    padding: 24px 47px;
    color: #fff;
    // background: linear-gradient(to left, #c79f88, #b6876b, #c9a48f);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.6s;
  }