$color_1: black;

.bg_container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Thêm chiều cao của container bằng chiều cao của màn hình
}
.form-signup {
    margin-left: 10px;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền của form */
    padding: 20px; /* Thêm padding */
    border-radius: 10px; /* Bo tròn góc form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng cho form */
}

.Register_Button {
    &:hover {
        color: $color_1;
    }
}

@media screen and (max-width: 600px) {
    .form-signup {
        width: 90%; // Thay đổi kích thước của container form để phù hợp với màn hình nhỏ hơn
    }

    .textfield-signup {
        width: 100%; // Thay đổi kích thước của các textfield để phù hợp với màn hình nhỏ hơn
    }
}
