//nav

.navigation-left {
    padding-left: 20px;
}

.navigation-left ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-left ul li {
    margin: 0;
    display: block;
}

.navigation-left a {
    color: #656565;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0;
    font-family: 'SVN-GothamBook', sans-serif;
}

.navigation-left>ul>li>a {
    color: #323232;
    font-size: 14px;
    font-family: 'SVN-Gotham', sans-serif;
}